/* -------------------------------------------------------------------------- */
/*                                   COMMON                                   */
/* -------------------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'M PLUS 1 Code', sans-serif;
}

#root {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 47);
}

/* -------------------------------------------------------------------------- */
/*                                   HEADER                                   */
/* -------------------------------------------------------------------------- */

header {
    width: 100%;
    height: 350px;
}

.header-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-box img {
    height: 250px;
    padding: 20px;
}

.header-box h1 {
    font-size: 40px;
    color: #e73740;
}